:root {
  --primery-text-color: #2e2f42;
  --title-text-color: #434455;
  --accent-color: #4d5ae5;
  --header-color: #ffffff;
  --hover-color: #404bbf;
  --button-color: #e7e9fc;
  --icon-fill: #8e8f99;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  letter-spacing: 0.02em;
  background-color: #ffffff;
  color: var(--title-text-color);
}

ul,
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  text-decoration: none;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /*outline: 2px solid red;*/
}

/*---------- HEADER ---------- */
.header {
  border-bottom: 1px solid var(--button-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e7e9fc;
}

.header-item {
  position: relative;
}

.current::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0px;
  bottom: 0px;

  display: flex;
  background: var(--hover-color);
  border-radius: 2px;
}

.header-nav {
  display: flex;
}

.header-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
  margin-right: 76px;
}

.accent {
  color: var(--primery-text-color);
}

.header-list,
.address-list {
  display: flex;
  gap: 40px;
}

.header-list .link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.link.current {
  color: var(--accent-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}

.header-item > .link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primery-text-color);
}

.address {
  font-style: normal;
  margin-left: auto;
}

.address-text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--title-text-color);
}

.link:hover,
.link:focus {
  color: var(--hover-color);
}

/*---------- HERO ---------- */

.hero {
  left: 0px;
  top: 72px;
  text-align: center;
  padding-top: 188px;
  padding-bottom: 188px;
  background-color: var(--primery-text-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  color: var(--header-color);
}

/*---------- Button ---------- */

.btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  display: flex;
  align-items: center;
  padding: 12px 24px;
  background-color: var(--button-color);
  color: var(--accent-color);

  border: 1px solid var(--button-color);
  border-radius: 4px;
  cursor: pointer;

  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}

.btn:hover,
.btn:focus {
  background-color: var(--hover-color);
  color: var(--header-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.hero-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;

  width: 169px;
  height: 56px;
  border-radius: 4px;
  border-color: transparent;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  background-color: var(--accent-color);
  color: var(--header-color);
  cursor: pointer;
  transition: background-color 250ms var(--cubic);
}

.online-btn {
  position: relative;
  display: flex;
  width: 165px;
  height: 40px;
  border-radius: 4px;
  border-color: transparent;
  padding: 8px 24px;
  box-shadow: none;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--hover-color);
}

/*---------- Advantages ---------- */

.studio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.studio-title {
  display: none;
}

.studio-icon-list {
  display: flex;
  gap: 24px;
}
.studio-icon-item {
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}
.studio-icon-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.studio-item {
  width: calc((100% - 72px) / 4);
}

.studio-list,
.work-list {
  display: flex;
  gap: 24px;
}

.studio-text,
.pictures-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: var(--primery-text-color);
}

.studio-link,
.pictures-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0;
  color: var(--title-text-color);
  margin-bottom: 8px;
}

/*---------- What are we doing ---------- */

.work {
  padding-bottom: 120px;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
  margin-bottom: 72px;
}

/*---------- Team ---------- */

.team {
  left: 0px;
  top: 1548px;
  background: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-list {
  display: flex;
  gap: 24px;
}
.team-item {
  width: calc((100% - 72px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-content {
  background-color: #ffffff;
  padding: 32px 16px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-soc-item {
  width: 40px;
  height: 40px;
}
.team-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}
.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--hover-color);
}

/*---------- Portfolio ---------- */

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-title {
  display: none;
}

.pictures .link {
  color: var(--title-text-color);
}

.button-list {
  display: flex;
  gap: 24px;
  margin-bottom: 72px;
  justify-content: center;
}

.pictures {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.pictures-list {
  display: inline-flex;
  width: calc((100% - 48px) / 3);
  border: 1px solid var(--button-color);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}

.pictures-overley {
  content: '';
  position: relative;
  overflow: hidden;
}

.pictures-overley-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  height: 100%;
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  color: #f4f4fd;
  background-color: var(--accent-color);
  transform: translateY(100%);
  transition: transform 250ms var(--cubic);
}

.pictures-list:hover .pictures-overley-text,
.pictures-list:focus .pictures-overley-text {
  transform: translateY(0px);
}

.pictures-list:hover,
.pictures-list:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.pictures-item {
  margin-bottom: 8px;
}

.pictures-conteint {
  padding: 32px 16px;
}

/*----------- CUSTOMERS ------------*/

.customers-container {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-title {
  margin-bottom: 72px;
}
.customers-list {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.customers-item {
  width: 168px;
  height: 88px;
  cursor: pointer;
}

.customers-icon {
  fill: var(--icon-fill);
}

.customers-link {
  width: 100%;
  height: 100%;
  display: flex;

  border: 1px solid #8e8f99;
  border-radius: 4px;
  padding: 16px 32px;

  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--hover-color);
}

.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
  fill: var(--hover-color);
}

/*----------- FOOTER ------------*/
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--primery-text-color);
}

.footer-container {
  display: flex;
  position: relative;
  gap: 120px;
}
.footer-text {
  width: 264px;
  font-size: 16px;
  line-height: 1.5;
  color: var(--button-color);
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
  color: var(--accent-color);
}

.footer-accent {
  color: #f4f4fd;
}

.footer-soc {
  color: #ffffff;
}

.footer-soc-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-soc-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--title-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms var(--cubic);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #31d0aa;
}

.footer-subscribe {
  position: absolute;
  right: 15px;
}

.footer-subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.online-field {
  position: relative;
}

.online-input {
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  border-radius: 4px;
  color: #ffffff;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  outline: none;
}

.online-input::placeholder {
  font-size: 12px;
  line-height: 2;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}
.online-label {
  color: #ffffff;
}

.online-form {
  position: relative;
  display: flex;
  gap: 24px;
}

.footer-icon-plane {
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
}

/*-------MODAL-------*/

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #00000085;
  transition: opacity 250ms var(--cubic), visibility 250ms var(--cubic);
}

.modal {
  width: 408px;
  min-height: 578px;
  background: #fcfcfc;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--cubic);
  padding: 24px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close {
  width: 24px;
  height: 24px;
  padding: 8px;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms var(--cubic);
  cursor: pointer;
}

.close-icon {
  position: absolute;
}
.modal-close:hover {
  background-color: var(--hover-color);
}

.modal-close:hover .close-icon {
  fill: var(--button-color);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;

  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
}

.input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid var(--primery-text-color);
  border-radius: 4px;
  outline: transparent;
  padding-left: 38px;
  background-color: transparent;
}

.modal-input::placeholder {
  font-size: 12px;
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-input:focus {
  border-color: var(--accent-color);
}

.modal-input:focus + .modal-input-icon {
  fill: var(--accent-color);
}

.modal-field {
  margin-bottom: 8px;
}

.modal-label-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid var(--primery-text-color);
  border-radius: 4px;
  padding: 8px 16px;
  background-color: transparent;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  outline: none;
}

.modal-textarea:focus {
  border-color: var(--accent-color);
}

.check-text {
  display: flex;
  gap: 5px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--icon-fill);
}

.check-text-privacy {
  line-height: 1.33;
  text-decoration-line: underline;
  color: var(--accent-color);
}

.check-text::before {
  content: '';
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid var(--icon-fill);
  display: block;
  transition: background-color 250ms var(--cubic);
}

.modal-check:checked + .check-text::before {
  background-color: var(--hover-color);
  border: none;
  background-image: url(../images/check-min.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.modal-btn {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
